<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn" lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>bbkkzz_demo</title>
<link href="../static/css/layui.css" rel="stylesheet" type="text/css" />
<link href="../static/css/global.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/layui.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>


</head>
<body>
<div >
<ul class="layui-nav">
  <li class="layui-nav-item">
    <a href="home.html">首页<span class="layui-badge">9</span></a>
  </li>
  <li class="layui-nav-item">
    <a href="reward.html">兑换奖励<span class="layui-badge-dot"></span></a>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">我</a>
    <dl class="layui-nav-child">
      <dd><a href="plan.html">计划管理</a></dd>
      <dd><a href="type.html">类型管理</a></dd>
	  <dd><a href="exchange.html">兑换记录</a></dd>
      <dd><a href="userinfo.html">修改信息</a></dd>
    </dl>
  </li>
</ul>
</div>




<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>兑换记录 </legend>
</fieldset>


<div  style="width:96%; margin:0 auto;">

<table class="layui-table" lay-even="" lay-skin="nob">
  <colgroup>
	<col>
    <col width="60">
    <col width="120">
    
  </colgroup>
  <thead>
    <tr>
      <th>奖励名称</th>
      <th>星数</th>
      <th>时间</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>火龙求</td>
      <td>34<i class="layui-icon">&#xe658;</i></td>
      <td>2017-09-18</td>
    </tr>
    <tr>
      <td>火龙求</td>
      <td>34<i class="layui-icon">&#xe658;</i></td>
      <td>2017-09-18</td>
    </tr>
    <tr>
      <td>火龙求</td>
      <td>34<i class="layui-icon">&#xe658;</i></td>
      <td>2017-09-18</td>
    </tr>
  </tbody>
</table> 

</div>

 </div> 
    


<script>
//Demo
layui.use(['element','form', ], function(){
  var form = layui.form
  ,$ = layui.jquery
  ,element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块  
  
  
  
});
</script>

</body>
</html>