{%  extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block content %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>Todo List</legend>
</fieldset>

<div  style="width:96%; margin:0 auto;">

<div class="layui-progress layui-progress-big" lay-showpercent="true">
  <div class="layui-progress-bar" lay-percent="90%"></div>
</div>


<form class="layui-form layui-form-pane" action=""  style="margin-top: 20px;">
  
<ul class="layui-timeline">
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe617;</i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">收拾玩具 </h3>
      <p>能够及时的将不玩的玩具，集中整理回原处！</p>
	  <p><i class="layui-icon">&#xe658;&#xe658;&#xe658;</i></p>
	  <p style="text-align:right"> <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="完成|未做"></p>
    </div>
  </li>
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe617;</i>
    <div class="layui-timeline-content layui-text">
	  <i class="layui-icon h1 ">&#xe658;</i>
      <h3 class="layui-timeline-title">定时定量吃饭 </h3>
      <p>早中晚饭前1个小时内，不吃零食</p>
	  <p>能够在妈妈说准备吃饭了，迅速整理好杂事，进入吃饭状态</p>
	  <p>不挑食，不厌食</p>
	  <p>吃饭要专注</p>
	  <p><i class="layui-icon">&#xe658;&#xe658;</i></p>
	  <p style="text-align:right"> <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="完成|未做"></p>
    </div>
  </li>  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe617;</i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">午睡一小时 </h3>
      <p>当前计划对应内容详情</p>
	  <p><i class="layui-icon">&#xe658;</i></p>
	  <p style="text-align:right"> <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="完成|未做"></p>
    </div>
  </li>  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe617;</i>
    <div class="layui-timeline-content layui-text">
      <h3 class="layui-timeline-title">收拾衣物 </h3>
      <p>当前计划对应内容详情</p>
	  <p><i class="layui-icon">&#xe658;&#xe658;&#xe658;</i></p>
	  <p style="text-align:right"> <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF"></p>
    </div>
  </li>
</ul>  
 
  

  
  </form>
  

 </div> 
    
  <div class="layui-row">
    <div class="layui-col-xs12  layui-col-md4">
      <div class="grid-demo grid-demo-bg1">看一看</div>
    </div>
    <div class="layui-col-xs6 layui-col-md4">
      <div class="grid-demo"><input type="text" class="layui-input" id="select_day" name="select_day" placeholder="yyyy-MM-dd"></div>
    </div>
    <div class="layui-col-xs6 layui-col-md4">
      <div class="grid-demo grid-demo-bg2"><button class="layui-btn layui-btn-warm">查看</button></div>
    </div>
  </div>

<script>
layui.use(['element','form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate	//日期
  ,element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块  
  
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });

  //日期初始赋值
  laydate.render({
    elem: '#select_day'
    ,value: '2017-09-26'
  });

  //监听指定开关
  form.on('switch(switchTest)', function(data){
    layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
      offset: '6px'
    });
    layer.tips('真棒！', data.othis)
  });

  
  
});
</script>

{% endblock %}
