{%  extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block content %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>{{ nowshow | date:'Y-m-d' }} Todo List</legend>
</fieldset>

<div  style="width:96%; margin:0 auto;">

<div class="layui-progress layui-progress-big" lay-showpercent="true">
  <div class="layui-progress-bar" lay-percent="{{ jindu }}%"></div>
</div>
{{ jindu }}

<form class="layui-form layui-form-pane" action=""  style="margin-top: 20px;">

<ul class="layui-timeline">
{% for p in plist %}
    {% for tt in p.list.all %}

        {% if tt.is_leaf_node and tt.id not in numli%}
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe617;</i>
    <div class="layui-timeline-content layui-text">
	  <i class="layui-icon h1 ">{{ tt.icont }} </i>
      <h3 class="layui-timeline-title">{{ tt.id }}{{ tt.tname }} </h3>
      <p>{{ tt.info }}</p>
	  <p>{{ tt.star }}<i class="layui-icon">&#xe658;</i></p>
    <p>{{ ll.donelist }}</p>
	  <p style="text-align:right">

          <input type="checkbox" {% if tt.id in numli %}checked=""{% endif %} name="open" value="{{ tt.id }}" lay-skin="switch" lay-filter="switchTest" lay-text="完成|未做"></p>

    </div>
  </li>
            {% endif %}
    {% endfor %}
{% endfor %}
{% for p in plist %}
    {% for tt in p.list.all %}

        {% if tt.is_leaf_node and tt.id in numli%}
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis">&#xe617;</i>
    <div class="layui-timeline-content layui-text">
	  <i class="layui-icon h1 ">{{ tt.icont }} </i>
      <h3 class="layui-timeline-title">{{ tt.id }}{{ tt.tname }} </h3>
      <p>{{ tt.info }}</p>
	  <p>{{ tt.star }}<i class="layui-icon">&#xe658;</i></p>
    <p>{{ ll.donelist }}</p>
	  <p style="text-align:right">

          <input type="checkbox" {% if tt.id in numli %}checked=""{% endif %} name="open" value="{{ tt.id }}" lay-skin="switch" lay-filter="switchTest" lay-text="完成|未做"></p>

    </div>
  </li>
            {% endif %}
    {% endfor %}
{% endfor %}

</ul>  

  

  
  </form>
  

 </div> 
    
  <div class="layui-row">
    <div class="layui-col-xs12  layui-col-md4">
      <div class="grid-demo grid-demo-bg1">看一看</div>
    </div>
    <div class="layui-col-xs6 layui-col-md4">
      <div class="grid-demo"><input type="text" class="layui-input" id="select_day" name="select_day" placeholder="yyyy-MM-dd"></div>
    </div>
    <div class="layui-col-xs6 layui-col-md4">
      <div class="grid-demo grid-demo-bg2"><button class="layui-btn layui-btn-warm">查看</button></div>
    </div>
  </div>

<script>
layui.use(['element','form', 'layedit', 'laydate'], function(){
  var form = layui.form
      ,$ = layui.jquery
  ,layer = layui.layer
  ,laydate = layui.laydate	//日期
  ,element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块  
  
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });

  //日期初始赋值
  laydate.render({
    elem: '#select_day'
    ,value: '2017-09-26'
  });

  //监听指定开关
  form.on('switch(switchTest)', function(data){
      var msg = this.checked ? '确定完成了么？' : '哦，又没完成呀？';
      layer.confirm(msg,{title:'tips',cancel:function(){
          if(data.elem.checked){
            data.elem.checked=false;
            $(data.othis).removeClass("layui-form-onswitch");
            data.othis.html("<em>未完</em><i></i>");
          }
          else{
              data.elem.checked=true;
              $(data.othis).addclass("layui-form-onswitch");
              data.othis.html("<em>完成</em><i></i>")
          }
      }
      },function(){
          layer.closeAll();
          //submit
          //alert(data.value);
          //var lll = $.get('/bkz/homejson/5');
          $.get("/bkz/homejson/"+data.value,function (rdata) {
              //do it
              alert(rdata);
              layer.msg(rdata == 'True' ? "OK" : "ERROR");

          })
      },function(){
          if(data.elem.checked){
            data.elem.checked=false;
            $(data.othis).removeClass("layui-form-onswitch");
            data.othis.html("<em>未完</em><i></i>");
          }
          else{
              data.elem.checked=true;
              $(data.othis).addclass("layui-form-onswitch");
              data.othis.html("<em>完成</em><i></i>")
          }
      })


  });

  
  
});
</script>

{% endblock %}
