{% extends 'base.html' %}

{% block title %}新增类型{% endblock %}

{% block content %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>新建任务类型
  
<a href="{% url 'bkz:typelist' 1 %}" class="layui-btn layui-btn-normal  layui-btn-radius"><i class="layui-icon">&#xe65c;</i>返回</a></legend>
</fieldset>


<form class="layui-form layui-form-pane" action="{% url 'bkz:typeadd' 1 %}" method="post">
    {% csrf_token %}
  <div  style="width:96%; margin:0 auto;">



  <div class="layui-form-item">
    <label class="layui-form-label">任务名称</label>
    <div class="layui-input-block">
      <input type="text" name="tname" autocomplete="off" placeholder="请输入类型名称" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{{ form.uname.label  }}</label>
      <div class="layui-input-inline">
          {{ form.uname  }}

      </div>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">创建日期</label>
      <div class="layui-input-block">
        <input type="text" name="addtime" id="addtime" autocomplete="off"  class="layui-input">
      </div>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">{{ form.t_pid.label  }}</label>
      <div class="layui-input-inline">
          {{ form.t_pid }}
      </div>
    </div>
  </div>

  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">任务描述</label>
    <div class="layui-input-block">
      <textarea placeholder="请输入内容" class="layui-textarea" name="info"></textarea>
    </div>
  </div>


   <div class="layui-form-item">
    <label class="layui-form-label">任务难度</label>
    <div class="layui-input-inline">
      <select name="difficulty" lay-filter="difficulty">
        <option value=""></option>
        <option value="0">1</option>
        <option value="1" selected="">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
      </select>
    </div>
    <div class="layui-form-mid layui-word-aux">非必填项</div>
  </div>  
  
  <div class="layui-form-item">
    <label class="layui-form-label">星星数：</label>
    <div class="layui-input-inline">
      <select name="star" lay-filter="star">
        <option value=""></option>
        <option value="0">1</option>
        <option value="1" selected="">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
      </select>
    </div>
    <div class="layui-form-mid layui-word-aux">非必填项</div>
  </div>  
  
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">任务图标</label>
    <div class="layui-input-block">
    <input type="text" name="icont" autocomplete="off" placeholder="icont" class="layui-input">
    <ul class="site-doc-icon">
 
      
      <li>
        <i class="layui-icon">&#xe62d;</i>
        <div class="name">表格</div>
        <div class="code">&amp;#xe62d;</div>
      </li>
      <li>
      <i class="layui-icon">&#xe62e;</i>
      <div class="name">icon_树</div>
      <div class="code">&amp;#xe62e;</div>
      <div class="fontclass">.icon5</div>
      </li>
      <li>
      <i class="layui-icon">&#xe62f;</i>
      <div class="name">上传</div>
      <div class="code">&amp;#xe62f;</div>
      <div class="fontclass">.iconfont17</div>
      </li>
      <li>
      <i class="layui-icon">&#xe61f;</i>
      <div class="name">添加</div>
      <div class="code">&amp;#xe61f;</div>
      <div class="fontclass">.tianjia</div>
      </li>
      <li>
      <i class="layui-icon">&#xe601;</i>
      <div class="name">下载</div>
      <div class="code">&amp;#xe601;</div>
      <div class="fontclass">.xiazai</div>
      </li>
      <li>
      <i class="layui-icon">&#xe630;</i>
      <div class="name">选择模版48</div>
      <div class="code">&amp;#xe630;</div>
      <div class="fontclass">.xuanzemoban48</div>
      </li>
      <li>
      <i class="layui-icon">&#xe631;</i>
      <div class="name">工具</div>
      <div class="code">&amp;#xe631;</div>
      <div class="fontclass">.gongju</div>
      </li>
      
      <li>
        <i class="layui-icon">&#xe654;</i>
        <div class="name">添加</div>
        <div class="code">&amp;#xe654;</div>
      </li>
      <li>
        <i class="layui-icon">&#xe642;</i>
        <div class="name">编辑</div>
        <div class="code">&amp;#xe642;</div>
      </li>
      <li>
        <i class="layui-icon">&#xe640;</i>
        <div class="name">删除</div>
        <div class="code">&amp;#xe640;</div>
      </li>
      <li>
      <i class="layui-icon">&#xe61a;</i>
      <div class="name">向下</div>
      <div class="code">&amp;#xe61a;</div>
      <div class="fontclass">.xiangxia</div>
      </li>
    </ul>
 
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-inline">
      <input type="text" name="sort" lay-verify="required" value="30"  class="layui-input">
    </div>
	<div class="layui-form-mid layui-word-aux">数字越大排在越前</div>
  </div>
  
  <div class="layui-form-item" pane="">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      {{ form.is_delete }}
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" value="立即提交"></input>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>  

  
</div>
</form>

 </div> 
    


<script>
//Demo
layui.use(['element','form','laydate', ], function(){
  var form = layui.form
  ,$ = layui.jquery
  ,laydate = layui.laydate	//日期
  ,element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块  
  
  //日期初始赋值
  laydate.render({
    elem: '#addtime'
  });
  
});
</script>

{% endblock %}